<h1>Songs</h1>

<table border = "1">
    <tbody>
        <% @songs.each do |song| %>
            <tr>
                <td>
                    <%= song.title %> 
                    <%= link_to "Delete", song_path(song), method: :delete, data: { confirm: "Really?" } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

